{% extends "layout.html" %}

{% block title %}
    Location
{% endblock %}

{% block body %}

    <h1>Location Details</h1>
      <p>
        <a href="{{ url_for('logout') }}" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
      </p>
    <table class="table table-striped">
        <thead>
            <th scope="col">Location#</th>
            <th scope="col">State</th>
            <th scope="col">City</th>
            <th scope="col">Zip Code</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ location.location_id }}</td>
                <td>{{ location.state }}</td>
                <td>{{ location.city }}</td>
                <td>{{ location.zipcode }}</td>
            </tr>
        </tbody>
    </table>


    <h2>Weather Conditions</h2>
    <div>
        {{weather}}
    </div>
    <form class="form-group" action="{{ url_for('location', location_id=location.location_id) }}" method="post">
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Check-In</button>
    </form>
{% endblock %}
