{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <form class="form-group">
      <div class="text-center mb-4">
        <img class="mb-4" src="{{ url_for('static', filename='images/clouds.png') }}" alt="Clouds" width="150" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      </div>

      <div class="form-group">
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputUsername">Username</label>
      </div>

      <div class="form-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Password</label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    </form>
{% endblock %}