{% extends "layout.html" %} {% block title %} Login {% endblock %} {% block body %}
<div class="container">
    {%if message %} {%if messageType=='E' %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endif %} {%if messageType=='S' %}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {% endif %} {% endif %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ url_for('static', filename='images/clouds.png') }}" alt="Weather Forecast">
        <div class="card-body">
            <h5 class="card-title">Register</h5>
            <p class="card-text">Register using Username and Password</p>
            <form class="form-group" action="{{ url_for('register') }}" method="post">

                <div class="form-group">
                    <input type="text" name="inputUsername" class="form-control" placeholder="Username" required autofocus>
                    <label for="inputUsername">Username</label>
                </div>

                <div class="form-group">
                    <input type="password" name="inputPassword" class="form-control" placeholder="Password" required>
                    <label for="inputPassword">Password</label>
                </div>

                <button class="btn btn-sm btn-primary btn-block" type="submit">Register</button>
                <hr>

                <a href="{{ url_for('login') }}" class="btn btn-info btn-sm">Existing User? Login </a>
            </form>
        </div>
    </div>
</div>
{% endblock %}