{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}
<h1>Please search for a location to get location details</h1>
      <p>
        <a href="{{ url_for('logout') }}" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
      </p>
<form action="{{ url_for('search') }}" method="post">
        <input type="text" name="srchStr" placeholder="Search for City, State or Zip">
        <button>Search</button>
</form>
{% if locations %}
<h2>City, State (Zip Code) and #Check-in's</h2>
<ul class="list-group">
    {% for loc in locations %}

    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{{ url_for('location', location_id=loc.location_id) }}"> {{ loc.city }}, {{ loc.state }} ({{ loc.zipcode }})</a>
        <span class="badge badge-primary badge-pill">{{ loc.checkin_count }}</span>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}