{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}
<h3>Please search for a location to get location details</h3>
<form action="{{ url_for('search') }}" method="post">

    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" name="srchStr" placeholder="Search for City, State or Zip">
                <span class="input-group-btn">
         <button class="btn btn-default">Search</button>
      </span>
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->

</form>
{% if locations %}
<h2>City, State (Zip Code) and #Check-in's</h2>
<ul class="list-group">
    {% for loc in locations %}

    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{{ url_for('location', location_id=loc.location_id) }}"> {{ loc.city }}, {{ loc.state }} ({{ loc.zipcode }})</a>
        <span class="badge badge-primary badge-pill">{{ loc.checkin_count }}</span>
    </li>
    {% endfor %}
</ul>
{% endif %} {% endblock %}