{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}
 {%if message %}
    <div class="alert alert-warning" role="alert">
        {{message}}
    </div>
    {% endif %}

    <div class="row justify-content-md-center">
        <div class="col-lg-6">
          <form action="{{ url_for('search') }}" method="post">
            <div class="input-group padding-top">
                <input type="text" class="form-control input-lg"  name="srchStr" placeholder="Search for City, State or Zip for Weather Forecast">
                <span class="input-group-btn">
         <button class="btn btn-default">Search</button>
      </span>
            </div>
            <!-- /input-group -->
            </form>
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->

{% if locations %}
<label><b>City, State (Zip Code) and #Check-in's</b></label>
<ul class="list-group">
    {% for loc in locations %}

    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{{ url_for('location', location_id=loc.location_id) }}"> {{ loc.city }}, {{ loc.state }} ({{ loc.zipcode }})</a>
        <span class="badge badge-primary badge-pill">{{ loc.checkin_count }}</span>
    </li>
    {% endfor %}
</ul>
{% endif %} {% endblock %}